<div class="container marg">
  <form class="form-groupe" >
    <div class="form-group">
     <label for="text">please suggest a country!</label>
     <input type="text" class="form-control" placeholder="country" id="sugl">
    </div>
    <div class="form-group">
     <label for="text">please suggest a city!</label>
     <input type="text" class="form-control" placeholder="country" id="sugl">
    </div>
    <div class="form-group">
     <label for="text">please suggest an hotel!</label>
     <input type="text" class="form-control" placeholder="country" id="sugl">
    </div>
    <div class="centered">
      <button type="button" class="btn btn-primary">suggest</button>
    </div>
  </form>
</div>
